@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
.main{
    background-image: url(../img/photo-1459666644539-a9755287d6b0.png);
    background-size: cover;
    height: 100vh;
}

.head__nav{
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.nav__logo{
    margin-top: 20px;
    width: 50px;
}

.nav__link{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    margin-top: 30px;
    width: 50px;
}

.nav__link__content{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-style:italic;
    letter-spacing: 0.10em;
    font-size: 2vh;
    text-underline-position: under;
    margin-right: 10vh;
    color: white;
}

.nav__link:visited {
    color: white;
}

.head__main__title{
    display: flex;
    justify-content: center;
    padding-right: 17%;
    padding-top: 7%;
}

.head__footer__nav{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    justify-content: space-around;
}

.head__footer__title{
    display: flex;
    flex-direction: row;
    scale: 0.70;
    margin-left: 20vh;
}

.head__footer__link{
    margin-right: 40vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #303241;
}

.head__footer__link__content{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-style:italic;
    letter-spacing: 0.10em;
    font-size: 2vh;
    text-underline-position: under;
    margin-right: 5vh;
    color: #303241;
    
}

.head__footer__link:visited{
    color: #222433;
}